body{
    font-family: 'Montserrat';
    margin: 0;
}

header{
    background-color: gray;
    height: 900px;
}

.block-main{
    padding: 40px 0;
}


.block-main-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 800px;
    width: 100%;
    overflow: hidden;
}


.block-main-background video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 5;
    filter: blur(5px);
    transform: scale(1.04);
    
}

h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    
}


.title-l {
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255,255,255,.7);
    text-align: center;
    font-weight: 500;
    
}


.b-container{
    text-align: center;
    margin-top: 77px;
    margin-bottom: 55px;
}


.block-main-btn{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 22px 20px;
    width: 220px;
    max-width: 100%;
    text-align: center;
    border: 2px solid #f14d34;
    border-radius: 5px;
    display: inline-block;
    font-weight: 500;
}


.achievement{
    margin-bottom: 30px;
}


.sup{
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
    height: 100%;
}

.points{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}


.achtitle1{
    font-size: 48px;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}

.achtitle{
    font-size: 24px;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}


.achtitle1 img{
    vertical-align: baseline;
    position: absolute;
    top: -6px;
}


.description{
    color: rgba(255,255,255,.7);
    line-height: 1.25;
    font-weight: 500;
    font-size: 12px;
}

.content{
    margin-top: 115px;
}


.competencies{
    padding-top: 50px 0;
}


.title{
    text-align: left;
}


h2{
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    color: #050c33;
    margin-bottom:  20px;
}


.title-description{
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}


.competency{
    margin-bottom: 60px;
}

.icon{
    margin-bottom: 30px;
    padding-left: 54px;
}

.info{
    font-weight: 500;
    line-height: 1.25;
    width: 160px;
    font-size: 15px;
    color: #4f5a73;
}


.razrab{
    margin-top: 80px;
}

.bloki{
    margin-bottom: 5px;
}

.punkty{
    padding: 0 12px;
    position: relative;
}

.punkt{
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(5,12,51,.05);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 220px;
}


.num{
    font-weight: 600;
    font-size: 12px;
    color: #828a9b;
    margin-bottom: 20px;
}


.name{
    font-weight: bold;
    font-size: 18px;
    color: #050c33;
    line-height: 1.22;
    margin-bottom: 15px;
}


.b{
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
}


.c{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}
footer{
    background: #040613;
    padding: 117px 0 54px;
    color: #fff;
}
.footer {
    margin-bottom: 52px;
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #e5e5e5;
}
.block-form-wrapper {
    width: 480px;
    max-width: 100%;
}
.block-form-title {
    font-weight: bolder;
    font-size: 40px;
    line-height: 1.215;
    margin-bottom: 20px;
}
.block-form-description {
    line-height: 1.55;
    font-size: 14px;
    margin-bottom: 140px;
}
.block-form-contacts ul li {
    margin-bottom: 12px;
}
.block-phone a {
    font-size: 32px;
}
.block-form-contacts ul li a {
    color: #fff;
    /*display: inline-block; 
    text-decoration: none;*/
    /*padding-left: 40px;*/
    font-weight: bold;
    /* position: relative; */
    line-height: 1.1; 
}
.field-body-form form{
    width: 480px;
    max-width: 100%;
    margin-left: auto;
}
.form-group {
    margin-bottom: 7px;
}
.btn-success{
    background: #f14d34;
    border: 2px solid #f14d34;
    /* border-radius: 5px; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    /* outline: 0; */
    /* box-shadow: none; */
    margin-top: 10px;
    /* display: block; */
    width: 100%;
    padding: 20px 14px;
    line-height: 1;
    transition: background 300ms;
}
.form-group input, .form-group textarea{
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 24px;
    color: #fff;
}

label a{
    color: #f14d34;
}
.form-control {
   background-color: transparent;
   border: 0px;
   color: #fff;
   font-size: 12px;
}
@media screen and (min-width: 800px){
    header{
        background-color: gray;
        height: 600px;
    }
    .block-main{
        padding: 130px 0;
    }

    .block-main-background{
        height: 600px;
    }
        
    h1{
        text-align: left;
        font-size: 52px;
        line-height: 60px;
        font-weight: bold;
    }
    
    h2{
        font-size: 40px;
    }
    
    .title-l{
        text-align: left;
    }
    
    .b-container{
        text-align: left;
    }
    
    .competencies{
        padding-top: 100px 0;
    }
    
    .icon{
        padding-left: 15px;
    }
    
    .info{
        width: 250px;
    }
    
    .title2{
        margin-bottom: 40px;
    }
    
    .punkt{
        min-height: 298px;
    }
    .footer{
        margin-bottom: 0px;
    }
    .col-md-6 {
        width: 50%;
    }
}






/*
<div class="block-main-background">
                        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop class="fillWidth">
                            <source src="images/video.mp4" type="video/mp4">
                        </video>
                    </div>*/